*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: rgb(46, 50, 53);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 110px;
    
}
  
 ul {
    list-style-type: none;
    /* padding: 0; */
}
  
nav ul li {
    display: inline;
    margin-right: 10px;
}
  
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
  
  /* Basic CSS for the form elements */
body {
    font-family: Arial, sans-serif;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 20px; */
}
  
.title {
    margin-bottom: 20px;
    color: white;
    font-size: 60px;
    max-width: 320px;
}
  
div {
    margin-bottom: 10px;
}
  
label {
    display: inline-block;
    width: 100px;
}

/*nav*/

.nav-title {
    color: white;
}

.nav-link {
    color: white;
}

.form-hide {
    visibility: hidden;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background: #fff;
  border-radius: 999px;
  padding: 0.4rem 0.6rem;
  box-shadow: 0 4px 12px rgba(0,0,0,.08);
  width: 370px;
}

.search-icon {
  opacity: 0.6;
  font-size: 1rem;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 0.8rem;
  color: rgb(2, 148, 124);
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 0.35rem 0.8rem;
  cursor: pointer;
  font-size: 0.85rem;
  background: rgb(2, 148, 124);
  color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.container-contact {
    display: flex;
    justify-content: space-between;
}

.icons-list {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    margin-left: 30px;
}

.content {
    width: 85%;
}

p {
    color: white;
    font-size: 20px;
}

.home-text {
    max-width: 350px;
    margin-bottom: 30px;
}

svg {
    color: white;
    stroke: #fff;
    width: 25px;
    height: 25px;
}

.home-btn {
    font-size: 17px;
    font-weight: bold;
}

.about-text {
    margin-bottom: 30px;
}

.team {
    display: flex;
    gap: 20px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.team-item {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 5px;
    border-radius: 9px;
}

.team-title {
    color: white;
    font-size: 40px;
}

.worker-name {
    color: white;
    margin-bottom: 3px;
}

.worker-desc {
    color: rgba(223, 223, 223, 0.911);
    font-size: 16px;
    margin-bottom: 3px;
}

.worker-btn {
    border: none;
    border-radius: 5px;
    padding: 0.4rem 3rem;
    cursor: pointer;
    font-size: 0.85rem;
    color: white;
    background-color: rgb(10, 96, 167);
}

.contact-content {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    margin-bottom: 20px;
    color: white;
    font-size: 60px;
}

.div-form {
    width: 40%;
    margin-right: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-radius: 9px;
    gap: 20px;
}

.contact-label {
    color: #fff;
}

.contact-input {
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    padding: 14px 16px;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    backdrop-filter: blur(2px);
}

/* Placeholder */
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Textarea */
.contact-form textarea {
  min-height: 120px;
  resize: vertical;
}

.recommendation-card {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-radius: 9px;
    margin: 10px;
    width: 300px;
    box-sizing: border-box;
    overflow: hidden;
}

.recommendation-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;    /* масштаб + кроп */
  display: block;
}

.recommendation-card p {
    font-size: 15px;
}

.recommendation-card h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
}

#results {
  position: fixed;
  top: 110px;          /* под navbar */
  right: -360px;       /* спрятана */
  width: 340px;
  max-height: calc(100vh - 130px);
  overflow-y: auto;

  scrollbar-width: none; /* Firefox */

  border-radius: 12px 0 0 12px;
  padding: 10px;

  transition: right 0.35s ease;
  z-index: 1000;
}

#results::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#results.active {
  right: 20px;        /* показываем */
}
  